



/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}



/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}



.main-header .navbar .nav>li>a>.label {
  
    top: 2px;
    right: 2px
       
}
body .wrapper .content-wrapper{
	background: #e5e7eb!important;
	min-width: 880px!important;
	overflow: hidden;!important;
	padding-left:10px;
	padding-bottom: 10px;
	padding-right: 10px;	
}
body .wrapper .bgs{
   background: #e5e7eb!important;
}
.firstTab{
	width: 100px;
	min-height: 50px;
	padding: 0;
	line-height: 50px;
	text-align: center;
	box-sizing: border-box;
	/*border-left:1px solid #1D2123;*/
	border-right:1px solid #1D2123;
}
.showTable{

	display:table-header-group
}
.headerBg{
	background: url("../img/背景@2x.png") 0% 0% no-repeat;
	background-size:300px 200px;
	border-bottom: 1px solid #CBCBCB;
}
.ui-select-pagesize{
	display: none;
}

.Validform_wrong {
    color: red;
    padding-left: 20px;
    white-space: nowrap;
    font-size: 12px;
    background: url(../images/error.png) no-repeat left center;
}
.Validform_right {
	height: 23px;
    color: #71b83d;
    font-size: 12px;
    padding-left: 20px;
    background: url(../images/right.png) no-repeat left center;
}

.content-title{
	color: #6276FF;
	background: #fff;
	font-size: 16px;
	font-weight: 900;
	padding: 10px;
	border-bottom: 2px solid #e5e7eb;
}
.content-tab{
   background: #fff;
   padding: 10px;
   padding-bottom: 0px;
}
.content-tab button{
	/*width: 80px;*/
    border-radius: 0px;
}

.content-box{
	background: #fff;
	padding: 10px;
	overflow: auto;

}
.content-box table{
	min-width: 1100px
}

.content-search{
	background: #fff;
	padding: 10px;
	
	font-size: 12px;
	
}

.content-search .attribute {
	width: 100%;
	height: auto;
	
	overflow: hidden;
}

.content-search .attribute span {
	font-size:12px;
}

.content-search .attribute form {
	display: inline-block;
	
}

.content-search .attribute form label {
	margin-right: 15px;
}
.content-search .attributeList,.content-search .repurchaseList{
	display: inline-block;
}
.content-search .repurchase {
	width: 100%;
	height: auto;
		
	overflow: hidden;
}
.content-search .repurchase span {
	font-size: 12px;
}

.content-search .repurchase form {
	display: inline-block;
}
.content-search .repurchase label{
	
	margin-right: 15px;
}
.content-search .repurchase .argument input{
	width: 100px;
	
}
.content-search .status {
	width: 100%;
	
	height: auto;	
	
	overflow: hidden;
}
.content-search .status form {
	display: inline-block;
	
}
.content-search .status span {
	font-size: 12px;
}


.content-search .status form label {
	margin-right: 15px;
}
.content-search .time {
	width: 100%;
	height: auto;
	
	overflow: hidden;
}
.content-search .time span {
	font-size: 12px;
}
.content-search .time form {
	display: inline-block;
	
}

.content-table td,.content-table th{
	white-space:nowrap;
}

thead tr {
    background: #f9f9f9;
}
.iconfont {
	font-style: normal;
	font-family: "iconfont" !important;
}
@font-face {
	font-family: "iconfont";
	src: url('../font/fonticonfont.eot');
	/* IE9*/
	src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
	url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../font/iconfont.svg#iconfont') format('svg');
	/* iOS 4.1- */
}

/*默认样式*/
dl, dt, dd, ol, ul, li{
	padding: 0;
	 list-style: none;  
}

/*表格公共样式*/
table{
	font-size: 12px
}
table thead{
	font-weight: 900
}

/*上传头像-登出样式*/

.btn-out{

	background: #F5F5F6!important;
	color: #000!important;
	border: none;
}
.btn-upData{

	background: #fff!important;
	color: #000!important;
	border:none;
}

.user-menu{
	cursor: pointer;
}
/*旋转*/
.xuanzhuan2{
-webkit-transform: rotate(180deg);/*Safari 4+,Google Chrome 1+ */
-moz-transform: rotate(180deg);/*Firefox 3.5+*/
transform-origin:71% 50%;

}

.row,.col-sm-2{

	height: 100%!important;
}
.col-sm-2{
	padding: 0
}

