* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Microsoft YaHei;
    /*background-image: url(../img/login/bg1.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

img {
    border: 0;
    max-width: 34%;
    margin-left: 86px;
}

#canvas {
    width: 100%;
    height: 100%;
}

from,
input,
ul,
li,
img {
    list-style: none;
}

ul {
    text-align: center;
}

div,
span,
p,
h1,
h2,
h3,
a {
    word-break: break-all;
    word-wrap: break-word;
    text-align: left;
}

from,
input,
a,
textarea,
select {
    border: none;
    outline: none;
}

.clear {
    clear: both;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

.vhide {
    visibility: hidden;
}



/*------------------login-----------------------*/

.login {
    width: 400px;
    height: 410px;
    position: fixed;
    right: 5%;
    top: 50%;
    margin-top: -205px;
    padding: 50px 0px;
    border-radius: 10px;
    background: rgba(88, 87, 87, 0.75);
    overflow: hidden;
}

.logo {

    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    color: #fff;
}

.dl_ul {
    margin-top: 30px;
    padding: 0 60px;
    overflow: hidden;
}

.dl_ul ul li {

    padding-left: 10px;
    font-size: 16px;
}

.dl_ul ul li:nth-of-type(1) {

    width: 100%;
    margin: 0 0 33px 0px;
}

.dl_ul ul li i {
    color: #fff;
}

.dl_ul ul li:nth-of-type(2) {

    width: 100%;
    margin: 0 0 33px 0px;
}

.dl_ul ul li:nth-of-type(3) {

    width: 100%;
    margin: 0 0 0 0px;
}

#tribe {
    padding-left: 7px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    /*background-color: #fff!important;*/
    font-size: 14px;
    margin-left: 10px;
    border: nonezoon;
}

.dl_ul ul li input[type=text],
input[type=password] {
    width: 200px;
    height: 27px;
    border-radius: 5px;
    background-color: #fff!important;
    font-size: 14px;
    padding-left: 10px;
    margin-left: 10px;

    border: nonezoon;
}

.dl_ul ul li h1 {
    font-size: 20px;
    color: #040b8f;
}

.dl_ul ul li span {
    width: 300px;
    font-size: 12px;
    color: #f47070;
    margin-left: 60px;
    text-align: center;
    display: inline-block;
}

.dl_ul ul li span.jz {
    font-size: 12px;
    color: #464646;
    margin-left: 8px;
    position: relative;
    top: -4px;
}

.dl_ul ul li button {
    width: 230px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #3366cc;
    font-size: 16px;
    background-color: #3366cc;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 100px;
    outline: none;
}

.dl_ul i {
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    height: 27px!important;
    line-height: 27px!important;
    border-radius: 5px;
}



/*-------------checkbox---------------*/


/*css3×ÖÌå*/

.letter {
    display: inline-block;
    font-weight: 100;
    font-size: 1em;
    margin: 0.2em;
    position: relative;
    color: #00B4F1;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
}

.letter:before,
.letter:after {
    position: absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top: 0;
    left: 0;
}

.letter,
.letter:before,
.letter:after {
    transition: all 0.3s ease-in-out;
}

.letter:before {
    color: #fff;
    text-shadow: -1px 0px 1px rgba(255, 255, 255, .8), 1px 0px 1px rgba(0, 0, 0, .8);
    z-index: 3;
    transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}

.letter:after {
    color: rgba(0, 0, 0, .11);
    z-index: 2;
    transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
}

.letter:hover:before {
    color: #fafafa;
    transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
}

.letter:hover:after {
    transform: scale(1.08, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg, 22deg);
}